<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>{{nombre}}</h3> 
            <p>Search: <input ng-model="$ctrl.query" /></p>
            <p>Ordenar por: 
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alfabético</option>
                    <option value="age">Novedad</option>
                    <option value="-age">Más antiguo</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">            
            <span> Filtrando por {{$ctrl.query}}</span>
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li> 
            </ul>
            <p>Number: {{$ctrl.phones.length}}</p>
            <hello-all></hello-all>
            <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
        </div>
    </div>
</div>