<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="phone-list/phone-list.module.js"></script>
    <script src="phone-list/phone-list.component.js"></script>
    <script src="hello/hello.module.js"></script>
    <script src="hello/hello.component.js"></script>
  </head>
  <body>
    
    <phone-list></phone-list>
    <hello-all></hello-all>
    <table>
      <tr>
        <th colspan="12">Tabla</th>
      </tr>
      <tr>
        <td></td>
        <td ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" >{{i}}</td>
      </tr>
      <tr ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <td>La de {{x}} </td>
        <td ng-repeat="o in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 , 10]" >{{ x * o}}</td>
      </tr>
    </table>
    
  </body>
</html>
